<div>
  <div>
    {{ 'product-1' | placeholder_svg_tag }}

    <div>
      <span>Vender</span>
      <span>Placeholder title</span>
      <span>{{ '9999' | money }}
      </span>
    </div>
  </div>
</div>>