.menu-icon {
    position: relative;
    width: 1.8em;
    height: 2.25em;
    display: inline-block;
  }
  
  .menu-icon span {
    position: absolute;
    height: 0.34em;
    width: 100%;
    background-color: #FFFFFF;
    transition: all 250ms ease-in-out;
    transform: rotate(0deg);
  }
  
  .menu-icon span:nth-child(1) {
    top: 0.09375em;
  }
  
  .menu-icon span:nth-child(2),
  .menu-icon span:nth-child(3) {
    top: 0.9375em;
  }
  
  .menu-icon span:nth-child(4) {
    // top: 1.875em;
    top: 1.75em;
  }
  
  .menu-button:hover span,
  .menu-button:focus span,
  .menu-button:active span {
    background: #FFFFFF;
  }
  
  .menu-icon.is-active span:nth-child(1),
  .menu-icon.is-active span:nth-child(4) {
    opacity: 0;
  }
  
  .menu-icon.is-active span:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .menu-icon.is-active span:nth-child(3) {
    top: 0.9375em;
    transform: rotate(-45deg);
  }