@use '../abstracts' as *;

.cart-icon {
    height: 30px;
    color: #FFFFFF;
}
.chevron-icon {
    color: $darkOrange;
    height: 20px;
    margin-left: 4px;
}
.social-icon:hover {
    fill: $darkOrange;
    transition: .3s;
}