@use '../abstracts' as *;

.about {
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
    &__content-wrapper {
        padding-top: 7rem;
        padding-bottom: 7rem;
        @include responsive(tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        @include responsive(laptop) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            gap: 1rem;
            order: 1;
        }
    }
    &__img {
        border-radius: 8px;
        @include responsive(laptop) {
            order: 2;
        }
    }
    &__content-wrapper--product-pg-padding {
        padding-top: 1rem;
        @include responsive(tablet) {
           padding-bottom: 5rem;
        }
        @include responsive(laptop) {
            padding-bottom: 7rem;
        }
        @include responsive(laptop-lg) {
            padding-bottom: 11rem;
        }
    }
    &__title {
        @include responsive(tablet) {
            margin-top: 3rem;
            margin-bottom: 1rem;
            width: 80%;
        }
        @include responsive(laptop) {
            width: 100%;
        }
    }
    &__description {
        @include responsive(tablet) {
            width: 80%;
        }
        @include responsive(laptop) {
            width: 100%;
        }
    }
    &__img--mobile {
        display: block;
        @include responsive(tablet) {
            display: none;
        }
    }
    &__img--tablet {
        display: none;
        @include responsive(tablet) {
            display: block;
        }
        @include responsive(laptop) {
            display: none;
        }
    }
    &__img--desktop {
        display: none;
        @include responsive(tablet) {
            display: none;
        }
        @include responsive(laptop) {
            display: block;
        }
    }
    &__col-wrapper {
        @include responsive(tablet) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        @include responsive(laptop) {
            width: 80%;
        }
    }
}