.about {
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
    &__content-wrapper {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    &__img {
        border-radius: 8px;
    }
    &__content-wrapper--product-pg-padding {
        padding-top: 1rem;
    }
}