@use '../abstracts' as *;

.list-collections {
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
    margin-top: 6rem;
    margin-bottom: 6rem;
    &__wrapper {
        display: grid;
        align-items: center;
        gap: 5.8rem;
        position: relative;
    }
    &__item {
        text-align: center;
        border-radius: 8px;
        background-color: $primaryGray;
    }
    &__text-wrapper {
        padding-bottom: 1.5rem;
    }
    &__img {
        width: 60%;
        margin-top: -4rem;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
}