@use '../abstracts' as *;

.product {
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
    margin-top: 2rem;
    @include responsive(tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 4.5rem;
        align-items: center;
    }
    // @include responsive(laptop) {
    //     margin-top: 5rem;
    // }
    // @include responsive(laptop-lg) {
    //     margin-top: 7rem;
    // }
    &__image {
        border-radius: 8px;
        @include responsive(tablet) {
            height: 100%;
            object-fit: cover;
        }
    }
    &__inputs-wrapper {
        margin-top: 22px;
        display: inline-flex;
    }
    &__btn-wrapper {
        display: flex;
    }
    &__back-link-wrapper {
        margin: 0 auto;
        max-width: 1300px;
        width: 90%;
        margin-top: 2rem;
        @include responsive(laptop) {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    }
}

.product-details {
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
    @include responsive(laptop) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 8rem;
    }
    &__in-the-box-list {
        list-style-type: none;
        padding: 0;
        margin-top: 0;
    }
    &__in-the-box-wrapper {
        display: flex;
    }
    &__col-1 {
        margin-top: 6rem;
    }
    &__col-2 {
        margin-top: 6rem;
        @include responsive(tablet) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
        }
        @include responsive(laptop) {
            display: block;
        }
    }
    &__in-the-box-wrapper-col-2 {
        margin-left: 1rem;
    }
    &__title {
        @include responsive(tablet) {
            margin-top: 0;
        }
    }
}

.product-images {
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
    &__wrapper {
        display: grid;
        gap: 1.3rem;
        margin-top: 5rem;
        @include responsive(tablet) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
        }
    }
    &__image {
        border-radius: 8px;
    }
}

.recommeded-products {
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 10rem;
    &__title {
        margin-bottom: 2.3rem;
        @include responsive(tablet) {
            margin-bottom: 3rem;
        }        
    }
    &__product-title {
        margin-top: 2rem;
    }
    &__product-image {
        border-radius: 8px;
    }
    &__product-link-wrapper {
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
    &__col-wrapper {
        @include responsive(tablet) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            gap: 1rem;
        }        
    }
    &__product-image--mobile {
        display: block;
        @include responsive(tablet) {
            display: none;
        }
    }
    &__product-image--tablet {
        display: none;
        @include responsive(tablet) {
            display: block;
        }
        @include responsive(laptop) {
            display: none;
        }
    }
    &__product-image--desktop {
        display: none;
        @include responsive(laptop) {
            display: block;
        }
    }
}