@use '../abstracts' as *;

.collection {
    &__title {
        height: 100px;
        margin: 0;
        background-color: $primaryBlack;
        text-align: center;
        display: grid;
        justify-content: center;
        align-items: center;
        @include responsive(tablet) {
            height: 260px;
        }
    }
    &__products {
        display: grid;
        gap: 8rem;
        margin-top: 4rem;
        margin-bottom: 12rem;
        @include responsive(tablet) {
            margin-top: 7rem;
        }
    }
}