@use '../abstracts' as *;

body {
    font-family: 'Manrope', sans-serif;
}

.header {
    &__site-name {
        color: white;
        font-weight: 900;
        text-decoration: none;
        font-size: 1.4rem;
    }
}

.hero {
    &__tag {
        color: $white;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 10px;
        text-transform: uppercase;
        mix-blend-mode: normal;
        opacity: 0.5;
        margin-bottom: 0;
    }
    &__product-name {
        color: $white;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 1.28571px;
        text-transform: uppercase;
        @include responsive(tablet) {
            font-size: 56px;
            line-height: 58px;
            letter-spacing: 2px;
        }
    }
    &__product-description {
        color: $white;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        mix-blend-mode: normal;
        opacity: 0.75;
        margin-top: 0;
        @include responsive(tablet) {
            width: 80%;
        }
    }
}

.list-collections {
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1.07143px;
        text-transform: uppercase;
        color: $primaryBlack;
    }
}

.mobile {
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1.07143px;
        text-transform: uppercase;
    }
}

.about {
    &__title {
        color: #000000;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        @include responsive(tablet) {
            font-size: 40px;
            line-height: 44px;
            letter-spacing: 1.42857px;
        }
        @include responsive(laptop) {
            text-align: left;
        }
    }
    &__description {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.5;
        @include responsive(laptop) {
            text-align: left;
        }
    }
}

.footer {
    &__menu-link {
        color: $white;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 25px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
    }
    &__site-name {
        color: $white;
        font-weight: 900;
        text-decoration: none;
        font-size: 1.4rem;
    }
    &__description {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
    &__copyright-text {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 25px;
        color: $white;
        mix-blend-mode: normal;
        opacity: 0.5;
        margin: 0;
    }
    &__copyright-text a {
        color: $white;
    }
}

.collection {
    &__title {
        color: $white;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        @include responsive(tablet) {
            font-size: 40px;
            line-height: 44px;
            letter-spacing: 1.42857px;
        }
    }
}

.product-card {
    &__tag {
        color: $darkOrange;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 10px;
        text-transform: uppercase;
    }
    &__tag-wrapper {
        @include responsive(laptop) {
            text-align: left;
        }
    }
    &__title {
        color: $primaryBlack;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        @include responsive(tablet) {
            font-size: 40px;
            line-height: 44px;
            letter-spacing: 1.42857px;
            text-transform: uppercase;
        }
        @include responsive(laptop) {
            text-align: left;
        }
    }
    &__description {
        color: $primaryBlack;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.5;
        @include responsive(laptop) {
            text-align: left;
        }
    }
    &__link {
        color: $white;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

.product-details {
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.857143px;
        text-transform: uppercase;
        color: #000000;
        @include responsive(tablet) {
            font-size: 32px;
            line-height: 36px;
            letter-spacing: 1.14286px;
        }
    }
    &__description {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.5;
        @include responsive(tablet) {
            margin-top: 2rem;
        }
    }
    &__in-the-box-wrapper-col-1 {
        color: $darkOrange;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
    }
    &__in-the-box-wrapper-col-2 {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
}

.recommeded-products {
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.857143px;
        text-transform: uppercase;
        color: #000000;
        @include responsive(tablet) {
            font-size: 32px;
            line-height: 36px;
            letter-spacing: 1.14286px;
        }
    }
    &__product-title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 1.71429px;
        text-transform: uppercase;
        color: #000000;
    }
}

.featured-product-one {
    &__product-name {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 1.28571px;
        text-transform: uppercase;
        color: $white;
        @include responsive(tablet) {
            font-size: 56px;
            line-height: 58px;
            letter-spacing: 2px;
        }
        @include responsive(laptop) {
           text-align: left;
           margin-bottom: 1.5rem;
        }
        @include responsive(laptop-lg) {
            width: 90%;
        }
    }
    &__description {
        margin-bottom: 2.4rem;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: $white;
        mix-blend-mode: normal;
        opacity: 0.75;
        @include responsive(tablet) {
            margin-bottom: 3.6rem;
        }
        @include responsive(laptop) {
            text-align: left;
            margin-bottom: 2.4rem;
            width: 90%;
        }
    }
}

.product {
    &__tag {
        margin-top: 1.8rem;
        color: $darkOrange;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 10px;
        text-transform: uppercase;
    }
    &__title {
        color: $primaryBlack;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 1px;
        text-transform: uppercase;
        @include responsive(laptop) {
            width: 80%;
        }
        @include responsive(laptop-lg) {
            width: 60%;
            font-size: 40px;
            line-height: 44px;
            letter-spacing: 1.42857px;
        }
    }
    &__description {
        color: $primaryBlack;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        mix-blend-mode: normal;
        opacity: 0.5;
        @include responsive(laptop) {
            width: 80%;
        }
        @include responsive(laptop-lg) {
            width: 70%;
        }
    }
    &__price-wrapper {
        margin-top: 22px;
    }
    &__price {
        color: $primaryBlack;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 1.28571px;
        text-transform: uppercase;
    }
    &__back-link {
        font-style: normal;
        text-decoration: none;
        font-weight: 500;
        font-size: 15px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
}

.cart {
    &__empty-title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.857143px;
        text-transform: uppercase;
        text-align: center;
        color: #000000;
        @include responsive(tablet) {
            font-size: 32px;
            line-height: 36px;
            letter-spacing: 1.14286px;
        }
    }
}