<div>
    <div>
        <div>
            <h1>Activate account</h1>
            <p>Create your password to activate your account</p>
        </div>

        <div>
            {% form 'activate_customer_password', class: 'space-y-4', id: 'activate_account_form' %}
                {% if form.errors %}
                    <div role="alert">
                        <strong>Error!</strong>
                        <span>
                            {{ form.errors | default_errors }}
                        </span>
                    </div>
                {% endif %}
                <div>
                    <label for="password">Password</label>
                    <input autocomplete="new-password" id="password" name="customer[password]" placeholder="New password" type="password">
                </div>

                <div>
                    <label for="confirm_password">Confirm password</label>
                    <input autocomplete="new-password" id="confirm_password" name="customer[password_confirmation]" placeholder="Confirm your password" type="password">
                </div>

                <div>
                    <button type="submit">Activate account</button>
                    <button name="decline" type="submit">Decline invitation</button>
                </div>
            {% endform %}
        </div>
    </div>
</div>