<div>
  <div>
      <div>
          <h1>Reset your password</h1>
      </div>
      <div>
          {% form 'reset_customer_password' %}
              {% if form.errors %}
                  <div role="alert">
                      <strong>Error!</strong>
                      <p>{{ form.errors | default_errors }}</p>
                  </div>
              {% endif %}

              <div>
                  <label class="sr-only" for="password">Password</label>
                  <input autocomplete="new-password" id="password" name="customer[password]" placeholder="Password" type="password">
              </div>

              <div>
                  <label class="sr-only" for="password_confirmation">Password Confirmation</label>
                  <input autocomplete="new-password" id="password_confirmation" name="customer[password_confirmation]" placeholder="Confirm your password" type="password">
              </div>

              <div>
                  <button type="submit">Reset password</button>
              </div>
          {% endform %}
      </div>
  </div>
</div>