<section class="pg-not-found" data-aos="fade-up">
    <h1 class="pg-not-found__title">
        {{ section.settings.title }}
    </h1>
    <p class="pg-not-found__subtext">{{ section.settings.subtext_title }}</p>
    <div>
        {% if section.settings.button.url == blank %}
            {% assign shop_url = shop.secure_url %}
        {% else %}
            {% assign shop_url = section.settings.button_url %}
        {% endif %}

        <a class="pg-not-found__link" href="{{ shop_url }}">{{ section.settings.button_label }}</a>
    </div>
</section>

{% schema %}
{
    "name": "Template 404",
    "tag": "section",
    "class": "flex items-center justify-center text-center py-7 h-screen",
    "settings": [
    {
        "type": "text",
        "id": "title",
        "default": "404",
        "label": "404 Heading Title"
    },
    {
        "type": "text",
        "id": "subtext_title",
        "default": "Page not found",
        "label": "404 Subtext Title"
    },
    {
        "type": "text",
        "id": "button_label",
        "default": "Back to homepage",
        "label": "Button Label"
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
    }
    ]
}
{% endschema %}