<div x-data="{ loginForm: true, pwRecoverForm: false }">
  <div x-show="loginForm">
    <div>
      <h1>Sign in to your account</h1>
    </div>
    <div>
      {% form 'customer_login' %}
        {% if form.errors %}
          <div role="alert">
            <strong>Error!</strong>
            <p>{{ form.errors | default_errors }}
            </p>
          </div>
        {% endif %}

        <div>
          <label class="sr-only" for="email_address">Email address</label>
          <input autocomplete="email" id="email_address" name="customer[email]" placeholder="Email address" type="email">
        </div>

        {% if form.password_needed %}
          <div>
            <label class="sr-only" for="password">Password</label>
            <input autocomplete="current-password" id="password" name="customer[password]" placeholder="Password" type="password">
          </div>
        {% endif %}

        <div>
          <a href="#" x-on:click="loginForm = false; pwRecoverForm = true">Forgot your password?</a>
        </div>

        <div>
          <button type="submit">Sign in</button>
        </div>
      {% endform %}
    </div>

    {% if shop.checkout.guest_login %}
      <div>
        <h1>Continue as a guest</h1>
      </div>

      {% form 'guest_login' %}
        <div>
          <button type="submit">Continue</button>
        </div>
      {% endform %}
    {% endif %}
  </div>
  <div x-show="pwRecoverForm">
    <div>
      <h1>Recover your password</h1>
    </div>
    <div>
      {% form 'recover_customer_password' %}
        {% if form.errors %}
          <div role="alert">
            <strong>Error!</strong>
            <p>{{ form.errors | default_errors }}
            </p>
          </div>
        {% endif %}

        <div>
          <label class="sr-only" for="email">Email address</label>
          <input autocomplete="email" id="email" name="email" placeholder="Email address" type="email">
        </div>

        <div>
          <button type="submit">Recover password</button>
        </div>

        <div>
          <a href="#" x-on:click="loginForm = true; pwRecoverForm = false">Back to login</a>
        </div>
      {% endform %}
    </div>
  </div>
</div>>