// Font
$primaryFont: 'Manrope', sans-serif;

// Colors
$darkBrown: #D87D4A;
$lightBrown: #FBAF85;
$primaryBlack: #101010;
$secondaryBlack: #101010;
$primaryGray: #F1F1F1;
$secondaryGray: #FAFAFA;
$white: #FFFFFF;


