// Font
$primaryFont: 'Manrope', sans-serif;

// Colors
$darkOrange: #D87D4A;
$lightOrange: #FBAF85;
$primaryBlack: #000000;
$secondaryBlack: #101010;
$primaryGray: #F1F1F1;
$secondaryGray: #FAFAFA;
$white: #FFFFFF;
$mobileHeaderBorderColor: #383838;

